@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');

:root {
  --background: #ffffff;
  --foreground: #2e2e2e; /* Gris oscuro en lugar de negro para mejor contraste */
  --text-on-light: #2e2e2e; /* Color para texto sobre fondo claro */
  --text-on-lila: #1c1c1c; /* Negro suave para mejor contraste sobre lila */
  
  --card: 300 43% 98%;
  --card-foreground: 300 25% 15%;

  --popover: 300 43% 98%;
  --popover-foreground: 300 25% 15%;

  --primary: 293 53% 82%;
  --primary-foreground: 300 25% 15%;

  --secondary: 57 89% 88%;
  --secondary-foreground: 300 25% 15%;

  --muted: 300 43% 90%;
  --muted-foreground: 300 25% 35%;

  --accent: 300 25% 85%;
  --accent-foreground: 300 25% 15%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 300 25% 85%;
  --input: 300 25% 85%;
  --ring: 293 53% 82%;

  --radius: 0.75rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-background text-foreground;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash {
  animation: dash 1s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: draw 1.5s ease-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse 2s ease-in-out infinite;
}
