@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');

:root {
  --background: #ffffff;
  --foreground: #2e2e2e; /* Gris oscuro en lugar de negro para mejor contraste */
  --text-on-light: #2e2e2e; /* Color para texto sobre fondo claro */
  --text-on-lila: #1c1c1c; /* Negro suave para mejor contraste sobre lila */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-on-light: #f5f5f5; /* Color claro para fondo oscuro */
    --text-on-lila: #ededed; /* Blanco suave en modo oscuro para fondo lila */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash {
  animation: dash 1s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: draw 1.5s ease-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse 2s ease-in-out infinite;
}
